<b-card class="guardian-view" bg-variant="light">
  <h2>Guardian</h2>
  <b-form-group
    id="guardian-diplomacy-group"
    label-cols-sm="6"
    label-cols-lg="8"
    content-cols-sm
    content-cols-lg
    label="Diplomacy"
    label-for="guardian-diplomacy">
    <b-form-input
      v-model.number="guardian.diplomacy"
      type="number"
      id="guardian-diplomacy">
    </b-form-input>
  </b-form-group>

  <b-form-group
    id="guardian-martial-group"
    label-cols-sm="6"
    label-cols-lg="8"
    content-cols-sm
    content-cols-lg
    label="Martial"
    label-for="guardian-martial">
    <b-form-input
      v-model.number="guardian.martial"
      type="number"
      id="guardian-martial">
    </b-form-input>
  </b-form-group>

  <b-form-group
    id="guardian-stewardship-group"
    label-cols-sm="6"
    label-cols-lg="8"
    content-cols-sm
    content-cols-lg
    label="Stewardship"
    label-for="guardian-stewardship"
  >
    <b-form-input
      v-model.number="guardian.stewardship"
      type="number"
      id="guardian-stewardship">
    </b-form-input>
  </b-form-group>

  <b-form-group
    id="guardian-intrigue-group"
    label-cols-sm="6"
    label-cols-lg="8"
    content-cols-sm
    content-cols-lg
    label="Intrigue"
    label-for="guardian-intrigue">
    <b-form-input
      v-model.number="guardian.intrigue"
      type="number"
      id="guardian-intrigue">
    </b-form-input>
  </b-form-group>

  <b-form-group
    id="guardian-learning-group"
    label-cols-sm="6"
    label-cols-lg="8"
    content-cols-sm
    content-cols-lg
    label="Learning"
    label-for="guardian-learning">
    <b-form-input
      v-model.number="guardian.learning"
      type="number"
      id="guardian-learning">
    </b-form-input>
  </b-form-group>

  <intellect-trait-select kind="guardian" :character="guardian" />

  <b-form-checkbox
    id="guardian-shrewd-checkbox"
    v-model="guardian.isShrewd"
    name="guardian-shrewd-checkbox">
    Shrewd
  </b-form-checkbox>

  <b-form-checkbox
    id="guardian-dull-checkbox"
    v-model="guardian.isDull"
    name="guardian-dull-checkbox">
    Dull
  </b-form-checkbox>
</b-card>
