<b-card class="ward-view" bg-variant="light">
  <h2>Ward</h2>
  <b-form-group
    id="ward-intellect-attribute-group"
    label-cols-sm="6"
    label-cols-lg="6"
    content-cols-sm
    content-cols-lg
    label="Intellect Trait"
    label-for="ward-intellect-trait">
    <b-form-select
      v-model="ward.intellectTrait"
      :options="intellectTraitOptions"
      id="ward-intellect-trait">
    </b-form-select>
  </b-form-group>

  <b-form-checkbox
    id="ward-shrewd-checkbox"
    v-model="ward.isShrewd"
    name="ward-shrewd-checkbox">
    Shrewd
  </b-form-checkbox>

  <b-form-checkbox
    id="ward-dull-checkbox"
    v-model="ward.isDull"
    name="ward-dull-checkbox">
    Dull
  </b-form-checkbox>

  <b-form-checkbox
    id="ward-inbred-checkbox"
    v-model="ward.isInbred"
    name="ward-inbred-checkbox">
    Inbred
  </b-form-checkbox>

  <b-form-group
    id="ward-childhood-trait-group"
    label-cols-sm="6"
    label-cols-lg="6"
    content-cols-sm
    content-cols-lg
    label="Childhood Trait"
    label-for="ward-childhood-trait">
    <b-form-select
      v-model="ward.childhoodTrait"
      :options="childhoodTraitOptions"
      id="ward-childhood-trait">
    </b-form-select>
  </b-form-group>

  <b-form-group
    id="ward-education-focus-group"
    label-cols-sm="6"
    label-cols-lg="6"
    content-cols-sm
    content-cols-lg
    label="Education Focus"
    label-for="ward-education-focus">
    <b-form-select
      v-model="ward.educationFocus"
      :options="educationFocusOptions"
      id="ward-education-focus">
    </b-form-select>
  </b-form-group>
</b-card>
