<b-card class="ward-view" bg-variant="light">
  <h2>Ward</h2>
  <intellect-trait-select kind="ward" :character="ward"></intellect-trait-select>

  <b-form-group id="ward-checkboxes-group">
    <b-form-checkbox
      id="ward-shrewd-checkbox"
      v-model="ward.isShrewd"
      name="ward-shrewd-checkbox">
      Shrewd
    </b-form-checkbox>

    <b-form-checkbox
      id="ward-dull-checkbox"
      v-model="ward.isDull"
      name="ward-dull-checkbox">
      Dull
    </b-form-checkbox>

    <b-form-checkbox
      id="ward-inbred-checkbox"
      v-model="ward.isInbred"
      name="ward-inbred-checkbox">
      Inbred
    </b-form-checkbox>
  </b-form-group>

  <childhood-trait-select kind="ward" :ward="ward"></childhood-trait-select>

  <education-focus-select :ward="ward"></education-focus-select>
</b-card>
